<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Web App Theme</title>
	<%%= stylesheet_link_tag 'web_app_theme', "themes/<%= options[:theme] %>/style" %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="#">Web App Theme</a></h1>
      <div id="user-navigation">
        <ul>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <div class="clear"></div>
      </div>      
      <div id="main-navigation">
        <ul></ul>
        <div class="clear"></div>
      </div>
    </div>    
    <div id="wrapper">
      <div id="main">
        <%%= yield %>
      </div>
      <div id="sidebar">
        <%%= yield :sidebar %>
      </div>
      <div class="clear"></div>      
    </div>
    <div id="footer">
      <div class="block">
        <p>Copyright &copy; 2009 Your Site.</p>
      </div>      
    </div>    
  </div>
</body>
</html>
