a:link, a:visited, a:hover, a:active, h1, h2, h3 { color: #000; }

body {
  color: #222;
  background: #f0f0ee;
}

hr {
  background: #f0f0ee; 
  color: #f0f0ee;
}

#header {
  background: #000;
}

#header h1 {
  position: absolute;
  bottom: 30px;
  padding: 0;
  margin: 0;
}

#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
  color: #FFF;
}

#main {
  float: right;
  width: 80%;  
}

#main .block {
  background: #FFF;
  padding-bottom: 20px;
}

#main .block h2.title {
  margin-left: 15px;
}


#sidebar {
  float: left;
  width: 15%;
}

#sidebar h3 {  
  background: #f0f0ee;
  padding: 0 0 10px 0;
  font-weight: bold;
  font-size: 15px;
}

#sidebar ul.navigation li a:link, #sidebar ul.navigation li a:visited {
  padding: 5px;
}

#sidebar ul li a:link, #sidebar ul li a:visited {
  border-bottom-color: #F0F0EE;
}

#sidebar ul li a:hover, #sidebar ul li a:active {
  background: #444;
  color: #FFF;
}

#sidebar .block .sidebar-block, #sidebar .notice {
  padding: 0;
}

#main-navigation {
  width: 80%;
  margin-left: 20%;
  margin-top: 50px;
}

#main-navigation ul li {
  background: #444;
}

#main-navigation ul li.active {
  background: #f0f0ee;
}

#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active,
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active,
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
  color: #FFF;
}

#main-navigation ul li.active a:link, #main-navigation ul li.active a:visited, #main-navigation ul li.active a:hover, #main-navigation ul li.active a:active {
  color: #444;
}

.secondary-navigation {
  background: #000;
  border-bottom-color: #444;
}

.secondary-navigation ul li.active {
  background-color: #444;
}

#footer {
  text-align: right;
}

/* pagination */

.pagination span.current {
  background: #444;
  color: #FFF;
  border-color: #444;
}

.pagination a {
  color: #444;
  border-color: #444;
}

.pagination a:hover {
    color: #FFF;
    background: #444;
}

/* tables */

.table th {
  background: #444;
  color: #FFF;
}

.table th a.toggle {
  display: block;
  width: 12px;
  height: 12px;
  background: transparent url('images/tick.png') center no-repeat;
  text-indent: -9999px;
  -moz-outline: none;
}

.table th.first {
  width: 30px;
  text-align: center;
}

.table td {
  border-bottom-color: #F0F0EE;
}

/* forms */

.form input[type="text"], .form textarea {
  width: 100%;
  border: 1px solid #444;
}


/* lists */

ul.list li {
  border-bottom-color: #F0F0EE;
}

ul.list li .left.date {  
  color: #BBB;  
}

ul.list li .date.day {
  background: #444;
  color: #FFF;
}

ul.list li .item .avatar {
  border-color: #F0F0EE;
}
