.clear { clear: both; }

h1 { margin: 15px 0; font-size: 22px; font-weight: normal; }
h2 { font-size: 22px; margin: 15px 0; font-weight: normal;}
h3 { font-size: 18px; margin: 10px 0; font-weight: normal;}
hr {height: 1px; border: 0; }
p { margin: 15px 0;}
a img { border: none; }

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: helvetica,arial,sans-serif;  
}

#container {
  min-width: 800px;
}

#header, #wrapper, #footer {
  padding: 0 20px;
}

#header {
  position: relative;
  padding-top: 1px;  
}

#header h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 30px;    
}

#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
  text-decoration: none;
}

#content {  
  width: 65%;
  float: left;    
}

#content h1.title {
  padding: 0 15px;    
}

#content .pagination {
  padding: 15px 0;  
}

#sidebar {
  width: 30%;
  float: right;      
}

#sidebar h3 {  
  padding: 10px 15px;
  margin: 0;
  font-weight: normal;
  font-size: 13px;
  border-bottom-width: 10px;
  border-bottom-style: solid;
}

#sidebar .block {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#sidebar ul.navigation li a:link, #sidebar ul.navigation li a:visited {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

#wrapper {
  padding-top: 20px;
}

#main {
  padding: 1px 15px;  
}

#main p.first {
  margin-top: 0;
}

#user-navigation {
  position: absolute;
  top: 10px;
  right: 20px;  
}

#user-navigation ul, #main-navigation ul, #secondary-navigation ul, #sidebar ul.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#user-navigation ul li, #main-navigation ul li, #secondary-navigation ul li {
  float: left;  
}

#main-navigation ul li {
  margin-right: 5px;
}

#user-navigation ul li {
  margin-left: 10px;
}

#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active,
#secondary-navigation ul li a:link, #secondary-navigation ul li a:visited, #secondary-navigation ul li a:hover, #secondary-navigation ul li a:active,
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
}

#main-navigation ul li a {
  font-size: 15px;
  display: block;
  padding: 8px 15px;
}

#secondary-navigation {
  font-size: 13px;  
  border-bottom-width: 10px;
  border-bottom-style: solid;
}

#secondary-navigation ul li a {
  display: block;
  padding: 10px 15px;  
}

#footer {
  padding: 20px;
}

/* pagination */

.pagination a, .pagination span {
  padding: 2px 5px;
  display: block;
  float: left;
  margin-right: 5px; 
}

.pagination span.current {
  font-weight: bold;  
  border-width: 1px;
  border-style: solid;
}

.pagination a {
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
}

/* tables */
.table {
  width: 100%;
  border-collapse: collapse;  
}

.table th {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}

.table th a.toggle {
  display: block;
  width: 12px;
  height: 12px;
  -moz-outline: none;
}

.table th.first {
  width: 30px;
  text-align: center;
}

.table td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 10px;
}

/* forms */

input.checkbox {
  margin: 0;
  padding: 0;
}

.form .group {
  margin-bottom: 15px;
}

.form .column {
  width: 48%;
}

.form .column.left {
  float: left;
}

.form .column.right {
  float: right;
}

.form label.title, .form input.text, .form textarea {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}

.form input.checkbox, .form input.radio {
  clear: left;
  float: left;
  margin-right: 5px;
}

.form label.checkbox, .form label.radio {
  line-height: 1.5em;
  display: block;
}

.form label.title {
  display: block;
  padding-bottom: 2px;  
  font-weight: bold;
}

.form input.text, .form textarea.textarea {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}

/* lists */

ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.list li {
  clear: left;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 5px;
}

ul.list li .left {
  float: left;  
}

ul.list li .left.date {  
  padding: 0 10px;
}

ul.list li .left .avatar {
  width: 50px;
  height: 50px;
}

ul.list li .item {
  margin-left: 80px;
}

ul.list li .date.day {
  padding: 10px;
}

ul.list li .date .day {
  display: block;
}

ul.list li .item .avatar {
  float: left;
  margin: 0 5px 5px 0;
  padding: 2px; 
  border-width: 1px;
  border-style: solid;
  width: 30px;
  height: 30px;
}

/* rounded borders */
#content, #main-navigation li, #secondary-navigation, #sidebar .block, #sidebar h3, ul.list li .left.date.day {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}

#secondary-navigation ul li.first, .table th.first, .table th.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}

.table th.last {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}


#secondary-navigation ul li.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}

#content h1.title, #sidebar, #sidebar .block, #sidebar ul.navigation, ul.list li .date.day {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}