<!DOCTYPE html>
<html>
<head>
  <title><%= options.app_name %></title>
  <%%= stylesheet_link_tag 'application' %>
  <%%= javascript_include_tag 'application' %>
  <%%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1>
        <%%= link_to "<%= options.app_name %>", "/" %>
      </h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><a href="#"><%%= t("web-app-theme.profile", :default => "Profile") %></a></li>
          <li><a href="#"><%%= t("web-app-theme.settings", :default => "Settings") %></a></li>

          <li>
            <%% if user_signed_in? %>
                <%%= link_to( t("web-app-theme.invite", :default => "Invite member"), new_member_path ) %>
            <%% else %>
                <%%= link_to( t("web-app-theme.signup", :default => "Sign up"), new_user_registration_path ) %>
            <%% end %>
         </li>

          <li>
          <%% if user_signed_in? %>
              <%%= link_to( t("web-app-theme.logout", :default => "Sign out"), destroy_user_session_path, :method => :delete ) %>
          <%% else %>
              <%%= link_to( t("web-app-theme.login", :default => "Sign in"), new_user_session_path ) %>
          <%% end %>
         </li>

        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <%% flash.each do |type, message| -%>
          <div class="message <%%= type %>">
            <p><%%= message %></p>
          </div>
        <%% end -%>
        <%% flash.clear -%>
      </div>
      <div id="main">
        <%%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%%= Time.now.year %> 
              %<%= options.app_name %>%
            </p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%%= yield :sidebar %>
      </div>
    </div>
  </div>
</body>
</html>
