<!DOCTYPE html>
<html>
<head>
  <title><%= options.app_name %></title>
  <%%= stylesheet_link_tag "web_app_theme" %>
  <%%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="box">
      <%%= yield %>            
    </div>
  </div>
</body>
</html>
