h1, h2, h3 { color: #122741; }

body {
  color: #222;
  background: #f0f0ee;
}

hr {
  background: #f0f0ee; 
  color: #f0f0ee;
}

#header {
  background: #122741;
}

#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
  color: #FFF;
}

#content {
  background: #FFF;
}

#sidebar {
  background: #FFF;
}

#sidebar h3 {  
  background: #122741;
  color: #FFF;
  border-bottom-color: #364B69;
}

#sidebar ul li a:link, #sidebar ul li a:visited {
  background: #FFF;
  border-bottom-color: #F0F0EE;
}

#sidebar ul li a:hover, #sidebar ul li a:active {
  background: #364B69;
  color: #FFF;
}

#main-navigation ul li {
  background: #364b69;
}

#main-navigation ul li.active {
  background: #f0f0ee;
}

#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active,
#secondary-navigation ul li a:link, #secondary-navigation ul li a:visited, #secondary-navigation ul li a:hover, #secondary-navigation ul li a:active,
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
  color: #FFF;
}

#main-navigation ul li.active a:link, #main-navigation ul li.active a:visited, #main-navigation ul li.active a:hover, #main-navigation ul li.active a:active {
  color: #364b69;
}

#secondary-navigation {
  background: #122741;
  border-bottom-color: #364B69;
}

#secondary-navigation ul li.active {
  background-color: #364B69;
}

/* pagination */

.pagination span.current {
  background: #364B69;
  color: #FFF;
  border-color: #364B69;
}

.pagination a {
  color: #364B69;
  border-color: #364B69;
}

.pagination a:hover {
    color: #FFF;
    background: #364B69;
}

/* tables */

.table th {
  background: #364B69;
  color: #FFF;
}

.table th a.toggle {
  display: block;
  width: 12px;
  height: 12px;
  background: transparent url('images/tick.png') center no-repeat;
  text-indent: -9999px;
  -moz-outline: none;
}

.table th.first {
  width: 30px;
  text-align: center;
}

.table td {
  border-bottom-color: #F0F0EE;
}

/* forms */

.form input[type="text"], .form textarea {
  width: 100%;
  border: 1px solid #364B69;
}


/* lists */

ul.list li {
  border-bottom-color: #F0F0EE;
}

ul.list li .left.date {  
  color: #BBB;  
}

ul.list li .date.day {
  background: #364B69;
  color: #FFF;
}

ul.list li .item .avatar {
  border-color: #F0F0EE;
}
